<!-- <app-header (pagetitle)="getvalu($event)" [headtitle]="title"></app-header>
<router-outlet></router-outlet> -->


<!-- <mat-sidenav-container class="example-container">
    <mat-sidenav #sidena mode="over">
      <div fx fxLayoutAlign="end end" fxLayout="row"><button  class="btt" mat-button (click)="sidena.toggle()"> <mat-icon >close</mat-icon></button></div>
         <div class="example-events" fxLayout="row" *ngFor="let e of events">
            <ul>
                <li fxlayout="row" fxlayoutAlign="start center" class="list">  
                    <span class="material-icons-outlined">
                    {{e.icon}}</span>
                    <span>{{e.name}}</span>
                </li>
            </ul>
    </div>
    </mat-sidenav>
  
    <mat-sidenav-content>
        <app-header (pagetitle)="getvalu($event)" (sidenavbar)="sidena.toggle(true)" [headtitle]="title"> </app-header>
     
        <p><button class="btn" mat-button (click)="sidenav.toggle()"><mat-icon >menu</mat-icon></button></p> 
        <router-outlet ></router-outlet> 
      
    </mat-sidenav-content>
  </mat-sidenav-container> -->

  <app-sidenav></app-sidenav>