<!-- 
<div class="container" fxLayout="row wrap">
    <mat-card class="example-card" fxFlex="30" *ngFor="let card of shirtscategorydata">
       
        <img mat-card-image src="{{card.women[0].t_shirts[0].imge}}" alt="T-Shirts for girls">
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>CLOTH-TYPE : <span style="font-style: normal;">{{card.women[0].t_shirts[1].t_shirt}}</span></mat-card-title>
                <mat-card-title>PRICE: <span>{{card.women[0].t_shirts[2].price}}</span></mat-card-title>
              </mat-card-header>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between end">
          <button mat-button>BUY</button>
          <button mat-button >Add chart</button>
        </mat-card-actions>
      </mat-card>
</div> -->
<app-card [categories]="mensdata"></app-card>